.filters{
    width: 100%;
    height: auto;
    margin: 30px 0;
    min-height: 42px;
    .filter-wrapper {
        .flex-display(flex);
        .justify-content(flex-start);

        .filter-by {
            .flex-display(flex);
            .justify-content(flex-start);
            .flex-wrap(nowrap);
            .align-items(center);
            h4 {
                .rem-calc(14);
                margin: 0;
                font-weight: 400;
                color: @black;
            }
        }
        .search {
            width: 250px;
            height: auto;
            position: relative;
            input{
                padding-right: 30px;
            }
            .clear-search{
                position: absolute;
                width: 30px;
                height: 40px;
                background: url('../images/close.png') no-repeat center center;
                top: 0;
                right: 0;
                z-index: 1;
                cursor: pointer;
            }
        }
    }
}
/*==================filter box====================*/
.filter-box {
    width: auto;
    margin-left: 30px;
    position: relative;
    .dropp-header {
        background: none;
        color: @font-base ;
        border-bottom: 1px solid @border-color;
        .flex-display(flex);
        .flex-direction(row);
        .justify-content(flex-start);
        padding: 8px 0;
        .flex-display(flex);
        .align-items(center);
        font-weight: @regular;
        cursor: pointer;
        .dropp-header__title{
            width:calc(100% - 13px);
            padding-right: 5px;
            color: @black;
        }
        .icon{
            width: 13px;
            .rem-calc(10);
            opacity: .4;
        }
    }
    .dropp-body {
        position: absolute;
        display: none;
        width: 250px;
        height: auto;
        background: @white;
        color: @blue;
        right: 0;
        top: 100%;
        margin-top: 10px;
        .transition(all 0.3s ease-in-out);
        .box-shadow(0 2px 10px 0 rgba(0, 0, 0, 0.1));
        z-index: 2;
        .dropp-body-wrap{
            width: 100%;
            overflow-y: auto;
            height: 100%;
            max-height: 200px;
        }
        label {
            display: block;
            color: @font-base;
            text-decoration: none;
            cursor: pointer;
            height: 50px;
            padding: 10px;
            .flex-display(flex);
            .align-items(center);
            border-bottom: 1px solid @dropdown-border;
            &:last-child {
                border-bottom:0;
            }
            &:hover {
                background: @selectbox;
                color: @font-base;
            }
            input{
                margin-right: 10px;
            }
        }
        label.js-open {
            background: @selectbox;
            color: @font-base;
        }
        &::after{
            content: "";
            border-bottom: 6px solid @white;
            border-right: 5px solid transparent;
            border-left: 5px solid transparent;
            position: absolute;
            top: -6px;
            right: 16px;
        }
    }
    .dropp-body.js-open {
        display: block;
    }
    .datepicker-box {
      padding: 0;
      .datepicker {
        min-height: 36px;
        padding: 0;
      }
    }
}
/*==================search box====================*/
.search {
    .form-group {
        padding: 0;
        input {
            width: 100%;
            height: 40px;
            border: 0;
            border-bottom: 1px solid @border-color;
            background: none;
            font-weight: 300;
        }
    }
}
/*============reset filter====================*/
.reset-filter {
    width: auto;
    height: auto;
    padding: 0;
    margin-left: 30px;
    background: none;
    border: 0;
    cursor: pointer;
    color: @black;
    opacity: .4;
    .rem-calc(14);
    &:hover {
        opacity: 1;
    }
}
/*=============datepicker====================*/
.dropp-header {
    .input-group {
        width: 100%;
        input{
            width: 100%;
            background: none;
            border: 0;
            height: auto;
            font-family: @Poppins;
            cursor: pointer;
            &::-webkit-input-placeholder {
                color: @black;
            }
            &::-moz-placeholder {
                color: @black;
            }
            &:-ms-input-placeholder {
                color: @black;
            }
            &:-moz-placeholder {
                color: @black;
            }
        }
        .input-group-addon{
            padding: 0;
            height: auto;
            background: none;
            border: 0;
            &.datepicker-icon{
                width: 20px;
                height: 20px;
                background: url('../images/datepicker.png') no-repeat center center;
                position: absolute;
                right: 0;
                top: 50%;
                margin-top:-10px;
            }
        }
    }
}

.datepicker.dropdown-menu{
    border-radius: 0px;
    margin-top: 19px;
}
