
/*========================================
*     Aligning Elements
========================================*/
.text-just { text-align: justify; }
.align-top { vertical-align: top; }
.align-bottom { vertical-align: bottom; }
.align-middle { vertical-align: middle; }

/*========================================
*     Visibility, Display Values
========================================*/
.inline { display: inline; }
.block { display: block; }
.inline-block { display: inline-block; }
/*========================================
*     Margins
========================================*/

.m-0 { margin: 0 }
.mt-0 { margin-top: 0}
.mr-0 { margin-right: 0}
.mb-0 { margin-bottom: 0}
.ml-0 { margin-left: 0}

.ml-10 { margin-left: 10px}
.ml-20 { margin-left: 20px}
.ml-30 { margin-left: 30px}
.ml-40 { margin-left: 40px}
.ml-50 { margin-left: 50px}

.mr-10 { margin-right: 10px}
.mr-20 { margin-right: 20px}
.mr-30 { margin-right: 30px}
.mr-40 { margin-right: 40px}
.mr-50 { margin-right: 50px}

.mt-10 { margin-top: 10px}
.mt-20 { margin-top: 20px}
.mt-30 { margin-top: 30px}
.mt-40 { margin-top: 40px}
.mt-50 { margin-top: 50px}

.mb-10 { margin-bottom: 10px}
.mb-20 { margin-bottom: 20px}
.mb-30 { margin-bottom: 30px !important;}
.mb-40 { margin-bottom: 40px}
.mb-50 { margin-bottom: 50px}
/*========================================
*     Padding
========================================*/
.p-0 { padding: 0 }
.pt-0 { padding-top: 0}
.pr-0 { padding-right: 0}
.pb-0 { padding-bottom: 0}
.pl-0 { padding-left: 0}

.pl-10 { padding-left: 10px}
.pl-20 { padding-left: 20px}
.pl-30 { padding-left: 30px}
.pl-40 { padding-left: 40px}
.pl-50 { padding-left: 50px}

.pr-10 { padding-right: 10px}
.pr-20 { padding-right: 20px}
.pr-30 { padding-right: 30px}
.pr-40 { padding-right: 40px}
.pr-50 { padding-right: 50px}

.pt-10 { padding-top: 10px}
.pt-20 { padding-top: 20px}
.pt-30 { padding-top: 30px}
.pt-40 { padding-top: 40px}
.pt-50 { padding-top: 50px}

.pb-10 { padding-bottom: 10px}
.pb-20 { padding-bottom: 20px}
.pb-30 { padding-bottom: 30px}
.pb-40 { padding-bottom: 40px}
.pb-50 { padding-bottom: 50px}


/*========================================
*     Width and Height
========================================*/

.fit { max-width: 100%; }
.half-width { width: 50% }
.full-width { width: 100%}
.full-height { height: 100%}
.div-padded { padding: 30px; }

/*========================================
*     Position and Z-index
========================================*/

.fixed { position: fixed !important; }
.relative { position: relative; }
.absolute { position: absolute !important; }
.static { position: static; }
.zindex-1 { z-index: 1; }
.zindex-2 { z-index: 2; }
.zindex-3 { z-index: 3; }
.pin-top-left { top: 0; left: 0; }
.pin-bottom-left { bottom: 0; left: 0; }
.pin-top-right { top: 0; right: 0; }
.pin-bottom-right { bottom: 0; right: 0; }

/*========================================
*     Typography
========================================*/

.bold { font-weight: bold; }
.caps { text-transform: uppercase !important; }
.ell { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.break-word { word-wrap: break-word; }
.nowrap { white-space: nowrap; }

/*========================================
*     hide show
========================================*/
.hide { display: none !important;}
.show { display: block !important;}

/*========================================
*     filter width
========================================*/
.filter-sm{
    width: 100px;
}
.filter-xs{
    width: 66px;
    
}

/*========================================
*   flex-basis
========================================*/
.flex-basis6{
    width: 6%;
}
.flex-basis7{
    width: 7%;
}
.flex-basis8{
    width: 8%;
}
.flex-basis9{
    width: 9%;
}
.flex-basis10{
    width: 10%;
}
.flex-basis11{
    width: 11%;
}
.flex-basis12{
    width: 12%;
}
.flex-basis13{
    width: 13%;
}
.flex-basis14{
    width: 14%;
}
.flex-basis15{
    width: 15%;
}
.flex-basis16{
    width: 16%;
}
.flex-basis17{
    width: 17%;
}
.flex-basis18{
    width: 18%;
}
.flex-basis19{
    width: 19%;
}
.flex-basis20{
    width: 20%
}
.flex-basis26{
    width: 26%;
}
.flex-basis30{
    width: 30%
}
.flex-basis40{
    width: 40%;
}
.flex-basis25{
    width: 25%;
}
