/*=============================================
*   color
=============================================*/
@blue :#1a4c59;
@green:#49ff00;
@dark-green :#1a4c59;
@white:#ffffff;
@black:#000000;
@red :#eb5656;
@font-primary :#092d42;
@font-base :#333333;
@base-background:#f3f6f6;
@border-color:#d7d7d7;
@disabled:#2D8F30;
@dropdown-border:#f1f1f1;
@selectbox :#edf1f3;
@pagination :#9b9b9b;
@keyword-bg:#e5e5e5;
@keyword-color:#4a4a4a;
@tomessage-bg:#f8f8f8;
@counter-border :#979797;


/*=============================================
*   success alert
=============================================*/
@success-alert-background:#e3f2dd;
@success-alert-color:#48814a;
@success-alert-border:#c3d5bc;

/*=============================================
*   danger alert
=============================================*/
@danger-alert-background:#f4e2e2;
@danger-alert-color:#b24e4b;
@danger-alert-border:#eed2d7;


/*=============================================
*   typography
=============================================*/
@Poppins: 'Poppins', sans-serif;


/*===========================================
*    button width
===========================================*/
@btn-sm: 100px;
@btn-xs: 118px;
@btn-md: 150px;
@btn-lg: 200px;

/*========================================
*   fonts
========================================*/
@extra-light:200;
@light:300;
@regular:400;
@medium:500;
@extra-bold:600;
@bold:700;
@basesize: 13px;
